@charset "UTF-8";
/* CSS Document */

body {
	margin: auto;
	padding: 0;
}

.container {
	display: grid;
	width: 100vw;
	grid-template-columns: 1 fr 1 fr;
	grid-template-rows: 1 fr 1 fr;
}

.box {
	margin: 0;
	padding: 0;
	border: 1px solid black;
	justify-content: center;
}

.viridian {
	background-color: #40826D;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 1;
}

.cobalt {
	background-color: #0047ab;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row: 2;
}

.crimson {
	background-color: #dc143c;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 2;
				}